<!-- CSS: https://www.youtube.com/watch?v=hVdTQWASliE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./welcome.css" />
    <title>Safety Deposit</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        margin: 0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 17px;
        color: #926239;
        line-height: 1.6;
      }

      #showcase {
        background-image: url("http://traversymedia.com/downloads/assets/beachshowcase.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;
      }

      #showcase h1 {
        font-size: 50px;
        line-height: 1.2;
      }

      #showcase p {
        font-size: 20px;
      }

      #showcase .button {
        font-size: 18px;
        text-decoration: none;
        color: #926239;
        border: #926239 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
      }

      #showcase .button:hover {
        background: #926239;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <header id="showcase">
      <h1>Welcome To Safety Deposit</h1>
      <p>
        Being the pioneers in securing data of our customers, we aspire to
        enhance our customer's user experience and continue their trust in us.
      </p>
      <a href="#" class="button">Let's Chat With other Users</a>
    </header>
  </body>
</html>
