<h1>Welcome to Chat Messenger</h1>
<form action="/">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required />
  </div>
  <button type="submit">
    <a href="/messageUser">Click to Chat</a>
  </button>
</form>
